<p id="notice"><%= notice %></p>

<p>
  <strong>Items:</strong>
  <%= @order.items %>
</p>

<p>
  <strong>Price total:</strong>
  <%= @order.price_total %>
</p>

<p>
  <strong>User email:</strong>
  <%= @order.user_email %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
